:root {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;

    font-family: monospace;
    font-weight: 500;

    box-sizing: border-box;
}

body {
    background-color: #373737;
    color: #FCF7F8;
}

h1 {
    font-size: 3.4rem;
}

.hidden {
    display: none;
}

.warning {
    color: #dc3545;
}

.theme-color {
    color: #8338ec;
}

.gray-color {
    color: #808185;
}

header {
    position: relative;
    margin-bottom: 2rem;
    padding: 13px 30px;
    border-bottom: 1px solid #555;
    background: transparent;
}

header::before {
    content: "";
    background: linear-gradient(90deg, #0000 15%, #8338ec 100%);
    z-index: -1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    opacity: 0;
    transition: opacity 0.3s ease-out;
}

header:hover::before {
    opacity: 1;
}

header h2 {
    position: relative;
    transition: left 0.3s ease-out;
    left: 0;
}

header:hover h2 {
    left: 17px;
}

header h2 span {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

header:hover h2 span {
    opacity: 1;
}

label {
    margin: 0 10px;
}

button {
    padding: 5px 10px;

    background: none;
    border: #8338ec solid 1px;
    border-radius: 5px; 
    color: #8338ec;

    transition: all ease-out 0.3s;
}

button:hover {
    cursor: pointer;
    background: #8338ec;
    color: #FCF7F8;
}

button:disabled {
    border-color: #808185;
    color: #808185;
}

button:disabled:hover {
    cursor: unset;
    background: none;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    margin: auto;
}

.panel {
    border: 1px solid #555;
    border-radius: 8px;
    padding: 1rem 3rem;
    box-shadow: 0 10px 10px #0003;

    margin-bottom: 2rem;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}

.row:last-child {
    margin-bottom: 0;
}

.row-fill {
    flex-grow: 1;
}

#form-panel {
    width: 300px;
}

#results {
    width: 100%;
}

#results .table-wrapper {
    width: 100%;
    overflow-x: auto;
}

#results table {
    width: 100%;
}

table, td, th {
    border: 1px solid #555;
}

td, th {
    padding: 5px 13px;
}

#graph {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 10px;
    }

    .panel, #form-panel {
        width: 100%;
    }

    .main {
        width: 90%;
    }
}
